html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
Colors:
#FAFAFA   Pozadí stránky
#000000   nadpis             
#8B8B8B   text, barva tlačítka 2             
#407BFF   barva tlačítka 1
#FFFFFF   text na tlačítku, pozadí rámečku s ikonou
*/

body {
    margin: 0;
    background-color: #FAFAFA;
}

.wrapper {
    padding: 60px 20px;
    font: 16px/1.5 'Montserrat';
    font-weight: 300;
    color: #8B8B8B;
}

#travel {
    max-width: 75%;
}
.cestovatel {
    display: flex;
    justify-content: center;
}

h1,
h2 {
    font-weight: 500;
    color: black;
    text-align: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 28px;
}

.linka {
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin-left: auto;   
    margin-right: auto;   
}

a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 30px;
    border-radius: 20px;
}

.tlacitko {
    text-align: center;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.dobrodruzstvi {
    background-color: #407BFF;   
}

.plaz {
    background-color: #8B8B8B;  
}

h2 {
    font-size: 16px;
    margin-top: 80px;
}

.popis-sluzby,
.popis-hlavni {
    text-align: center;
    margin-bottom: 30px;
}

.popis-hlavni {
    margin-top: 30px;
}
.popis-sluzby {
    margin-top: 16px;
}

.sluzby {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-ikona {
    padding: 20px;
}

.box-text {
    margin: 0;
    font-size: 13px;
    flex-grow: 1;
    padding: 32px 20px 20px 20px;
}

@media screen and (min-width: 640px) {
   .navigace {
       display: flex;
       justify-content: center;
   } 

   .tlacitko {
        margin: 0 20px 0 0;
   }

   #travel {
       max-width: 100%;
   }

   .popis-hlavni,
   .popis-sluzby {
       width: 550px;
       margin-left: auto;
       margin-right: auto;
   }

   .sluzby-ck,
   .sluzby-delegat {
        display: flex;  
        justify-content: space-between;     
   }

   .sluzby {
       margin: 0;
       flex-direction: column;
       width: 230px;
       flex: 0 0 calc((100% - 40px) / 3);
   }

   .ikona {
       display: flex;
       justify-content: center;
   }

   .ikona img {
       padding-top: 40px;
       padding-bottom: 0;
   }

  .box-text {
       text-align: center; 
    }
}

@media screen and (min-width: 1100px) {
    body {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        width: 1040px;
        display: flex;
        flex-wrap: wrap;
    } 

    .sekce-uvod,
    .sekce-sluzby {
        display: flex;
    }

    .cestovatel {
        width: 490px;
    }

    #travel {
        max-width: 426px;
    }

    .uvod-vlevo,
    .sluzby-ck {
        order: -1;  
    }

    .sluzby-ck,
    .sluzby-delegat {
        width: 550px;
    }

    .stred {
        margin: 80px 0;
    }

    .sluzba-prvni {
        margin-left: 60px;
    }

    .uvod-vlevo,
    .sluzba-druha {
        margin-right: 60px;
    }

    .popis-hlavni {
        width: 490px;
    }

    .popis-sluzby {
        width: 430px;
    }

    h1,
    h2,
    .popis-hlavni,
    .popis-sluzby {
        text-align: left;
    }

    .linka {
        margin: 0;
    }

    h1 {
        margin-top: 70px;
    } 

    h2 {
        margin-top: 40px;
    }
    
    .navigace {
        justify-content: flex-start;
    }
}